.pageHome {
    padding: 4vh 3vw;

    &__content {
        min-height: 100%;
        padding: 20px 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
        color: rgb(7, 49, 126);
        font-weight: 600;
        background: rgba(255, 247, 231, 0.65);
        box-shadow: 0 0 25px 25px rgba(255, 247, 231, 0.65);

        .headline {}

        .text {}

        .article {


            h2 {
                margin-bottom: 60px;
            }

            .portfCardsWrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 8.5%;
                gap: calc(130px - 200 * (1px - (100vw/1900)));
                row-gap: calc(100px - 60 * (1px - (100vw/1900)));

                li {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}